@media(min-width:2200px){
  .App{
    max-width: 1600px;
    margin: auto;
  }
}

@media(max-width:1500px){
  .fixedwidth{
    width: 90%;
  }
  .fixedwidth .grid{
    max-width: 1000px;
  }
  .ant-tabs-nav{
    width: 100%;
  }
  
  .setuptitle{
    width: 100%;
  }
  
}